{% render 'partials/head.liquid', title: 'Favorieten cadeaus ' %}

<nav>
    <a class="go-back" href="/">
        <img class="back-img" src="/assets/back.svg" alt="back">Terug
    </a>

    <ul class="users">
        <li class="">
            <button><img src="/assets/plusje.svg" alt="plusje"></button>
            <p>Nieuwe lijst</p>
        </li>

        <li>
            <button><img src="/assets/hart.svg" alt="hartje"></button>
            <p>Wenslijst</p>
        </li>

        <li>
            <button><img src="/assets/riley.svg" alt=""></button>
            <p>Riley</p>
        </li>

        <li>
            <button><img src="/assets/tom.svg" alt=""></button>
            <p>Tom</p>
        </li>

        <li>
            <button><img src="/assets/mia.svg" alt=""></button>
            <p>Mia</p>
        </li>

        <li>
            <button><img src="/assets/ben.svg" alt=""></button>
            <p>Ben</p>
        </li>

        <li>
            <button><img src="/assets/lily.svg" alt=""></button>
            <p>Lily</p>
        </li>
    </ul>
</nav>


<main>
    <ul>
        {% for product in favourites %}
          {% include 'partials/card.liquid' with item, size: 'medium', item: product %}
        {% endfor %}
      </ul>
</main>
 

{% render 'partials/footer.liquid' %}