{% render 'partials/head.liquid', title: 'Home' %}

<nav>
    <a class="go-back" href="/"><img class="back-img" src="/assets/back.svg" alt="back">Terug</a>

    <div>
    <button><img src="/assets/plusje.svg" alt="plusje"></button>
    <p>Nieuwe lijst</p>
    </div>

    <div>
    <button><img src="/assets/hart.svg" alt="hartje"></button>
    <p>Wenslijst</p>
    </div>

    <div>
    <button><img src="/assets/riley.svg" alt=""></button>
    <p>Riley</p>
    </div>

    <div>
    <button><img src="/assets/tom.svg" alt=""></button>
    <p>Tom</p>
    </div>

    <div>
    <button><img src="/assets/mia.svg" alt=""></button>
    <p>Mia</p>
    </div>

    <div>
    <button><img src="/assets/ben.svg" alt=""></button>
    <p>Ben</p>
    </div>

    <div>
    <button><img src="/assets/lily.svg" alt=""></button>
    <p>Lily</p>
    </div>
</nav>

<main>

</main>

{% render 'partials/footer.liquid' %}